* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	list-style-type: none;
}

.center {
	padding-left: calc(50% - 570px);
	padding-right: calc(50% - 570px);
}

.content {

}

.main-item {
	display: flex;
	justify-content: center;
	gap: 32px;
	flex-wrap: wrap;
}

.product-list {
	margin: 20px 0;
	padding: 10px;
	border: 1px solid #291515;
	border-radius: 5px;
	display: flex;
	gap: 15px;
	align-items: center;
	flex-direction: column;
	width: 350px;
}
.product-list__imgbox {
	margin-bottom: 10px;
	width: 230px;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-list__img{
	width: 100%;
}

.product-list__title {
	text-align: center;
	margin: 0;
	font-size: 1.5rem;
	text-decoration: none;
}

.product-list__descrbox{
	width: 100%;
	height: 95px;
	overflow: hidden;
}

.product-list__button {
	margin-top: 10px;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: white;
	cursor: pointer;
}

.product-list__button:hover {
	background-color: #0056b3;
}
